@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    margin: 0;
    font-family: "Space Grotesk", "Segoe UI", sans-serif;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
  }
}
